<footer class="site-footer" style="color: white;">
  <div class="container row">

    <div class="col-sm-4">
      <div class="container" style="padding-left: 75px">
        <img width="120px" class="p-3" src="/images/stunting-logo_flat_white.svg" alt="Featured image" />
        <!-- List -->
        <ul class="list-unstyled list-py-5" style="padding: 15px 0; line-height: 30px;">
          <li>
              <a class="link-sm link-light p-4" href="https://actionagainststunting.org/">
                  <i class="glyphicon glyphicon-globe me-1"></i>
                  20 Bloomsbury Square <br/>London WC1A 2NS
              </a>
          </li>
          <li>
              <a class="link-sm link-light" href="tel:+44(0)2079588270">
                  <i class="glyphicon glyphicon-earphone me-1"></i>
                  +44 (0) 207 958 8270
              </a>
          </li>
          <li>
              <a class="link-sm link-light" href="mailto:actionagainststunting@lshtm.ac.uk">
                  <i class="glyphicon glyphicon-envelope me-1"></i>
                  actionagainststunting@lshtm.ac.uk
              </a>
          </li>
        </ul>
      </div>
      
      <!-- End List -->
    </div>

    <div class="col-sm-8 pull-right">
      
      <div class="col-md-3">
          <h3>Repository</h3>
          <a href="#">About</a>
      </div>
      
      <div class="col-md-3">
          <h3>Tools</h3>
          <a href="#">Dashboard</a>
      </div>
      
      <div class="col-md-3">
          <h3>Documentation</h3>
          <a href="#">Support</a>
      </div>
        
      <div class="col-md-3">
        <h3>Resources</h3>
        <a href="#">Your account</a>
      </div>

    </div>
  </div>
  

  <div class="container col-10">
    <hr class="text-danger mb-4 mx-3">
  </div>
  <div class="container">
    <div class="row">
        <div class="col-xs-4 pull-left">
            
            <ul class="list-inline list-separator list-separator-light mb-0">
              <li class="list-inline-item">
                  <a class="link-sm link-light" href="https://actionagainststunting.org/">Privacy &amp; Policy</a>
              </li>
              <li class="list-inline-item">
                  <a class="link-sm link-light" href="https://actionagainststunting.org/">Terms</a>
              </li>
            </ul>
            <!-- End Socials -->

        </div>
        <div class="col-6 pull-right">
            <!-- Content for the second column, placed on the right -->
            {% block footer_lang %}
              {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        </div>
    </div>
  </div>


  <!-- Copyright -->
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <p class="text-white small">&copy; Action Against Stunting 2023.</p>
            <p class="text-white small">This Hub is funded by UK Research and Innovation (UKRI) through the Global Challenges Research Fund (GCRF)</p>
        </div>
    </div>
  </div>
  <!-- End Copyright -->

</footer>
